openapi: 3.2.0
info:
  title: tyntec Phone Number Intelligence Service API
  description: Phone number intelligence surface of the tyntec CPaaS platform, grouping the number-verification and number-information services that answer the question "is this phone number real, reachable, and what network is it on?" before you save it in a CRM, message it, or call it.
  version: '1.0'
  contact:
    name: tyntec
    url: https://www.tyntec.com
  x-modeled: Paths, methods, base paths, and the apikey auth scheme are grounded in tyntec's public documentation. JSON schema bodies are honestly modeled from the docs and may not enumerate every property.
servers:
- url: https://api.tyntec.com
  description: tyntec production API
security:
- apiKeyAuth: []
tags:
- name: Service
  description: Health and version metadata.
paths:
  /verify/v1/health:
    get:
      operationId: verifyHealth
      tags:
      - Service
      summary: Service health
      description: Returns the health status of the Verify service.
      responses:
        '200':
          description: Service is healthy.
  /verify/v1/version:
    get:
      operationId: verifyVersion
      tags:
      - Service
      summary: Service version
      description: Returns the deployed version of the Verify service.
      responses:
        '200':
          description: Service version metadata.
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: apikey
      description: Account API key created in the tyntec Console. Sent in the `apikey` request header on every call.
